* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #4d4d72;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  color: #9913ff;
}

h1, h2, h3 {
  font-weight: 500;
  line-height: 1.3;
}

p {
  margin-bottom: 1em;
}

a {
  color: #9913ff;
}

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 1.5rem;
}

ol li {
  counter-increment: li;
  margin-bottom: 1rem;
}

ol li:before {
  content: counter(li);
  color: #9913ff;
  font-weight: 500;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

svg {
  vertical-align: middle;
}

main {
  background-color: #ededf1;
  padding: 2rem 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.footer {
  padding: 3rem 0;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 3rem;
}

.wrapper {
  max-width: 32rem;
}

.field {
  font-size: 1rem;
  width: 70px;
  height: 50px;
  line-height: 50px;
  padding: .5rem .8rem;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dbdbe3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transition: border .2s ease-in-out;
}

.field:hover, .field:focus, .field:active {
  outline: none;
  border: 1px solid #9913ff;
}

.label {
  font-size: .6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .12em;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.btn--primary {
  background-color: #4d4d72;
  color: #c8ffae;
}

.btn--primary:hover {
  background-color: #3e3e5b;
}

.btn--secondary {
  background-color: #4d4d72;
  color: #ffffff;
}

.btn--secondary:hover {
  background-color: #3e3e5b;
}

.btn--secondary svg {
  fill: #ffffff;
}

.btn--terciary {
  background-color: transparent;
  color: #a6a6b9;
}

.btn--terciary:hover {
  color: #82829c;
  background-color: #ededf1;
}

.btn--lg {
  height: 50px;
  line-height: 50px;
  padding: 0 1.5em;
}

.btn--lg svg {
  height: 24px;
  width: 24px;
}

.btn--sm {
  height: 40px;
  line-height: 40px;
  padding: 0 .8em;
}

.btn__icon {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.boardbar {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.boardbar__control {
  margin-right: 20px;
  margin-bottom: 20px;
}

.board {
  position: relative;
  width: 100%;
}

.board-blocked .piece:last-child {
  background-color: #4d4d72;
  opacity: 1;
}

.counter {
  height: 50px;
  width: 70px;
  background-color: #c8ffae;
  color: #9913ff;
  border: 1px solid #9913ff;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  line-height: 50px;
}

.colophon {
  padding-top: 4rem;
  font-weight: 500;
  font-size: 16px;
}

.piece {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: #c8ffae;
  background-color: #9913ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  transition: all .1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece:hover {
  background-color: #a32bff;
}

.piece:hover:last-child {
  background-color: none;
}

.piece:last-child {
  z-index: 0;
  cursor: auto;
  border: none;
  color: transparent;
  background-color: transparent;
  box-shadow: none;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbWFkYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGZpbGw9IiNDOEZGQUUiIGQ9Ik0xOCw4aC0xVjZjMC0yLjgtMi4yLTUtNS01UzcsMy4yLDcsNnYySDZjLTEuMSwwLTIsMC45LTIsMnYxMGMwLDEuMSwwLjksMiwyLDJoMTJjMS4xLDAsMi0wLjksMi0yVjEwCglDMjAsOC45LDE5LjEsOCwxOCw4eiBNMTIsMTdjLTEuMSwwLTItMC45LTItMnMwLjktMiwyLTJzMiwwLjksMiwyUzEzLjEsMTcsMTIsMTd6IE0xNS4xLDhIOC45VjZjMC0xLjcsMS40LTMuMSwzLjEtMy4xCglzMy4xLDEuNCwzLjEsMy4xVjh6Ii8+Cjwvc3ZnPg==");
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -999rem;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 114, 0.9);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.modal.modal-is-open {
  left: 0;
  opacity: 1;
}

.modal.modal-is-open .modal {
  top: 22%;
}

.modal__wrap {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 30px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: top .2s ease;
}

.modal__wrap h2 {
  margin-top: 0;
}

.modal__close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal__close:hover svg {
  fill: #a6a6b9;
}

.modal__close svg {
  width: 100%;
  height: 100%;
  transition: fill .2s ease-in-out;
  fill: #cacad5;
}

.modal__footer {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
  align-items: center;
}

.modal__footer .btn--terciary {
  margin-right: 5px;
}

.color-success {
  color: #00d2b1;
}

.color-fail {
  color: #ed1e79;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 500;
}

@media only screen and (min-width: 720px) {
  h1 {
    font-size: 3rem;
  }
  .header {
    padding-bottom: 4rem;
  }
  .footer {
    padding: 5rem 0;
  }
  .piece {
    font-size: 2em;
  }
  .subheading {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .label {
    font-size: .7rem;
  }
  .boardbar {
    flex-direction: row;
  }
  .boardbar__control {
    margin-bottom: 0;
  }
  .modal__wrap {
    width: 450px;
  }
}
