@import "./utils";

$color__primary: #9913ff;
$color__secondary: #c8ffae;
$color__base: #4d4d72;
$color__success: #00d2b1;
$color__error: #ed1e79;

$border__radius: 4px;

* {
  box-sizing: border-box;
}

html, 
body {
  font-size: 18px;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color__base;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  color: $color__primary;
}

h2 {
  font-size: 1rem;
}

h1, h2, h3 {
  font-weight: 500;
  line-height: 1.3;
}

p {
  margin-bottom: 1em;
}

a {
  color: $color__primary;
}

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 1.5rem;

  li {
    counter-increment: li;
    margin-bottom: 1rem;

    &:before {
      content: counter(li);
      color: $color__primary;
      font-weight: 500;
      display: inline-block;
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl
    }
  }
}

svg {
  vertical-align: middle;
}

main {
  background-color: tint( $color__base, 90 );
  padding: 2rem 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  padding-bottom: 2rem;
}

.footer {
  padding: 3rem 0;
}

.subheading {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.wrapper {
  max-width: 32rem;
}

.field {
  font-size: 1rem;
  width: 70px;
  height: 50px;
  line-height: 50px;
  padding: .5rem .8rem;
  background-color: #ffffff;
  border-radius: $border__radius;
  border: 1px solid tint( $color__base, 80 );
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transition: border .2s ease-in-out;

  &:hover, &:focus, &:active {
    outline: none;
    border: 1px solid $color__primary;
  }
}

.label {
  font-size: .6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  border-radius: $border__radius;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .12em;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.btn--primary {
  background-color: $color__base;
  color: $color__secondary;

  &:hover {
    background-color: shade( $color__base, 20 );
  }
}

.btn--secondary {
  background-color: $color__base;
  color: #ffffff;

  &:hover {
    background-color: shade( $color__base, 20 );
  }

  svg {
    fill: #ffffff;
  }
}

.btn--terciary {
  background-color: transparent;
  color: tint( $color__base, 50 );

  &:hover {
    color: tint( $color__base, 30 );
    background-color: tint( $color__base, 90 );
  }
}

.btn--lg {
  height: 50px;
  line-height: 50px;
  padding: 0 1.5em;

  svg {
    height: 24px;
    width: 24px;
  }
}

.btn--sm {
  min-height: 40px;
  padding: 0 .8em;
}

.btn__icon {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.boardbar {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.boardbar__control {
  margin-right: 20px;
  margin-bottom: 20px;
}

.board {
  position: relative;
  width: 100%;
}

.board-blocked .piece:last-child {
  background-color: $color__base;
  opacity: 1;
}

.counter {
  height: 50px;
  width: 70px;
  background-color: $color__secondary;
  color: $color__primary;
  border: 1px solid $color__primary;
  text-align: center;
  font-weight: 500;
  border-radius: $border__radius;
  line-height: 50px;
}

.colophon {
  padding-top: 4rem;
  font-weight: 500;
  font-size: 16px;
}

.piece {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: $color__secondary;
  background-color: $color__primary;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  transition: all .1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece:hover {
  background-color: tint($color__primary, 10);
}

.piece:hover:last-child {
  background-color: none;
}

.piece:last-child {
  z-index: 0;
  cursor: auto;
  border: none;
  color: transparent;
  background-color: transparent;
  box-shadow: none;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbWFkYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGZpbGw9IiNDOEZGQUUiIGQ9Ik0xOCw4aC0xVjZjMC0yLjgtMi4yLTUtNS01UzcsMy4yLDcsNnYySDZjLTEuMSwwLTIsMC45LTIsMnYxMGMwLDEuMSwwLjksMiwyLDJoMTJjMS4xLDAsMi0wLjksMi0yVjEwCglDMjAsOC45LDE5LjEsOCwxOCw4eiBNMTIsMTdjLTEuMSwwLTItMC45LTItMnMwLjktMiwyLTJzMiwwLjksMiwyUzEzLjEsMTcsMTIsMTd6IE0xNS4xLDhIOC45VjZjMC0xLjcsMS40LTMuMSwzLjEtMy4xCglzMy4xLDEuNCwzLjEsMy4xVjh6Ii8+Cjwvc3ZnPg==");
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -999rem;
  width: 100%;
  height: 100%;
  background-color: rgba( $color__base, .9 );
  opacity: 0;
  transition: opacity .2s ease-in-out;

  &.modal-is-open {
    left: 0;
    opacity: 1;

    .modal {
      top: 22%;
    }
  }
}

.modal__wrap {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  background-color: #ffffff;
  border-radius: $border__radius;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: top .2s ease;

  h2 {
    margin-top: 0;
  }
}

.modal__close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
  cursor: pointer;

  &:hover {
    svg {
      fill: tint( $color__base, 50 );
    }
  }

  svg {
    width: 100%;
    height: 100%;
    transition: fill .2s ease-in-out;
    fill: tint( $color__base, 70 );
  }
}

.modal__footer {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
  align-items: center;

  .btn--terciary {
    margin-right: 5px;
  }
}

.color-success {
  color: $color__success;
}

.color-fail {
  color: $color__error;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 500;
}

@media only screen and ( min-width: 720px ) {

  .header {
    padding-top: 2rem;
  }

  .subheading {
    margin-bottom: 3rem;
  }

  .piece {
    font-size: 2em;
  }

  .label {
    font-size: .7rem;
  }

  .boardbar {
    flex-direction: row;
    justify-content: center;
  }

  .board {
    width: 80vh;
    max-width: 100%;
    margin: 0 auto;
  }

  .boardbar__control {
    margin-bottom: 0;
  }

  .modal__wrap {
    width: 450px;
  }
}
